.contain1 {
  position: relative;
  width: 100%;
}

.image1 {
  opacity: 1;
  display: block;
  transition: .5s ease;
  width: 18rem;
  height: 18rem;
  backface-visibility: hidden;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; 
  max-height: 250px;
  max-width: 300px;
}

.contain1:hover .image1 {
  opacity: 0.7;
}

.contain1:hover .middle1 {
  opacity: 1;
}

.text1 {
  background-color: #000;
  color: white;
  font-size: 14px;
  padding: 32px 32px;
  opacity: .8;
  max-height: 250px;
  max-width: 300px;
}

/* @keyframes example {
  from {width: 50%;}
  to   {width: 100%;}
} */