.base {
    background-image: url("our-approach-img-1.jpg");
    height: 510px !important;
}

@media screen and (max-width: 820px) {
    img {
        width: 300px !important;
        /* margin-left: 50px; */
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    img {
        width: 300px !important;
        /* margin-left: 50px; */
        display: flex;

    }
}
body{
    font-family: mulish;
    letter-spacing: 0.02em;
    font-family: Mulish;
}