
body {
    overflow-x: hidden;
}

nav {
    height: 4rem;
    width: 100vw;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 65px;
    width: 250px;
    padding: 1rem 0 1.5rem 4rem;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding-top: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    position: relative;
}

 .show1 .line a {
    color: #253859 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    /* margin: 0 1rem; */
}

/* .nav-links .show ::before {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all linear 250ms;
    margin: 0 0 0 10%;
}

.nav-links .show:hover::before {
    width: 80%;
    margin-top: 1rem; */
/* } */

.line {
    cursor: pointer;
}

.line:hover {
    border-bottom: 1px solid #03d5cc;
}

/*Styling Buttons*/
.login-button a {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    height: 37px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1.5rem;
    color: #253859;
    text-decoration: none;
}

.login-button a:hover {
    color: #03d5cc;
    background-color: #f2f5f7;
    border: 2px solid #03d5cc;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #fff !important;
    background-color: #03d5cc;
    border: 1.5px solid #03d5cc;
    border-radius: 5px;
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 8rem;
}

.join-button:hover {
    background: #03d5cc;
    box-shadow: 5px 5px 5px 0 #03d5cc;
    transition: all 0.5s ease;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #253859;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}
/* a{
    colr
} */
/* submenu */
#submenu {
    display: flex !important;
    flex-direction: column !important;
    padding: 0.5rem !important;
    left: 0 !important;
    opacity: 0 !important;
    position: absolute !important;
    top: 40px !important;
    margin-top: 2.3rem !important;
    visibility: hidden !important;
    z-index: 1 !important;
    /* transition: 0.2s ease !important; */
}

.show1:hover ul#submenu {
    opacity: 1 !important;
    top: 40px !important;
    visibility: visible !important;
    color: #253859 !important;
    background-color: #fff !important;
    border-radius: 5px !important;
    margin-top: 2.3rem !important;
    width: 250px !important;
    margin: 10px !important;
    /* transition: 0.4s all; */
    /* transition-delay:1s; */
}

.show1:hover ul#submenu a {
    text-decoration: none;
    color: #253859 !important;
    padding: 0.4rem !important;
}

ul#submenu a:hover {
    padding-top: -0.4rem !important;
    border-bottom: 1.5px solid #03d5cc;
    width: fit-content !important;
}

/* submenu end */

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        height: 4rem;
        background-color: #f2f5f7;
        z-index: 5;
        overflow-y: auto;
    }

    .logo,
    .hamburger {
        z-index: 5;
    }

    .logo img {
        height: 35px;
        width: 120px;
        padding: 1rem 0 0 0;
        top: 50%;
    }

    .login-button a {
        border: none;
        color: #fff;
    }

    .join-button,
    .nav-links,
    .login-button:focus {
        background: #03d5cc;
        border: none;
    }

    .join-button,
    .nav-links,
    .login-button:hover {
        background: #03d5cc;
        border: none;
        color: #f8f8f8;
    }

    .join-button:focus {
        border: none;
        color: #253859;
    }

    .join-button:hover {
        color: #f8f8f8;
        border: none;
    }

    .nav-links li {
        /* top: 10em; */
        color: #fff;
        z-index: 5;
    }

    .nav-links li :focus::before,
    .nav-links li :hover::before {
        display: none;
    }

    .nav-links {
        top: 3.5rem;
        position: fixed;
        justify-content: space-evenly;
        list-style: none;
        width: 88vw;
        align-items: center;
        /* background: #03d5cc; */
        color: #fff !important;
        height: 90vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .join-button,
    .login-button,
    .nav-links li {
        color: #f8f8f8 !important;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }

    a.fade {
        opacity: 1;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    /* #submenu {
        transition: all 0.7s ease;
    }  */
    .show1 {
        display: block !important;
        color: #fff !important;
        position: fixed;
        overflow-y: hidden !important;
        margin-top: -1rem;
        bottom: 0;
    }
 .show1 .line a {
     color: #fff !important;
     text-decoration: none !important;
     cursor: pointer !important;
     overflow-y: hidden !important;
     /* margin: 0 1rem; */
 }
    .line {
        color: #fff;
        cursor: pointer;
    }

    .line:hover {
        border-bottom: none;
    }

}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
