* {
    margin: 0;
    padding: 0;
    font-family: Mulish;
}

body {
    overflow-x: hidden;
}

nav {
    height: 4rem;
    width: 100vw;
    background-color: #f8f8f8;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 65px;
    width: 250px;
    padding: 1rem 0 1.5rem 4rem;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding-top: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    position: relative;
}

.nav-links li .show {
    color: #253859;
    text-decoration: none;
    cursor: pointer !important;
    margin: 0 1rem;
}

.nav-links .show ::before {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all linear 250ms;
    margin: 0 0 0 10%;
}

.nav-links .show:hover::before {
    width: 80%;
    margin-top: 1rem;
}

.line a {
    cursor: pointer;
}

.line a:hover {
    border-bottom: 1px solid #03d5cc;
}

.show {
    color: #253859;
}

/*Styling Buttons*/
.login-button {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    height: 37px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1.5rem;
    color: #253859 !important;
    text-decoration: none !important;
    /* color: #253859; */
}

.login-button a {
    color: #253859 !important;
    text-decoration: none !important;
}

.login-button a:hover {
    color: #03d5cc !important;
    transition: all ease-in-out 350ms;
}

.login-button:hover {
    color: #03d5cc !important;
    background-color: #f2f5f7;
    border: 2px solid #03d5cc;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #fff !important;
    background-color: #03d5cc;
    border: 1.5px solid #03d5cc;
    border-radius: 5px;
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 8rem;
}

.join-button:hover {
    background: #03d5cc;
    box-shadow: 5px 5px 5px 0 #03d5cc;
    transition: all 0.5s ease;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #253859;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/* submenu */
#submenu {
    display: flex !important;
    flex-direction: column !important;
    padding: 0.5rem !important;
    left: 0 !important;
    opacity: 0 !important;
    position: absolute !important;
    top: 40px !important;
    margin-top: 2.3rem !important;
    visibility: hidden !important;
    z-index: 1 !important;
    /* transition: 0.2s ease !important; */
}

.show:hover ul#submenu {
    opacity: 1 !important;
    top: 40px !important;
    visibility: visible !important;
    color: #253859 !important;
    background-color: #fff !important;
    border-radius: 5px !important;
    margin-top: 2.3rem !important;
    width: 250px !important;
    margin: 10px !important;
    /* transition: 0.4s all; */
    /* transition-delay:1s; */
}

/* 
.show:hover ul#submenu  ::after {
    display: none;
    transition: 0s all;
} */

.show:hover ul#submenu a {
    text-decoration: none;
    color: #253859 !important;
    padding: 0.4rem !important;
}

ul#submenu a:hover {
    padding-top: -0.4rem !important;
    border-bottom: 1.5px solid #03d5cc;
    width: fit-content !important;
}

/* submenu end */
.row1 {
    background-color: #eff4f9;
    height: 35rem !important;
}

/* first div vedio start */
.index-head {
    margin-top: 5rem !important;
    margin-left: 5rem !important;
    font-weight: 15rem !important;
    font-size: 40.6px !important;
}

.index-heads {
    margin-left: 5rem !important;
}

.vedio,
.nectar-video-self-hosted {
    margin-top: 5rem !important;
    margin-left: 7rem !important;
    border-radius: 10px !important;
    box-shadow: 15px 15px 15px 5px #e7e4e4;
}

.button {
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white;
    color: #03d5cc;
    width: 10rem;
    border: 2px solid #03d5cc;
}

.button3 {
    background-color: #03d5cc;
    height: 2.5rem;
    margin-left: 5rem !important;
}

.button3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    background-color: #03d5cc;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* first div vedio end */
/* second div */
.center {
    text-align: center !important;
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
    font-weight: 4rem !important;
    margin-left: 20rem !important;
    margin-right: 20rem !important;
}

.centers {
    text-align: center !important;
    font-size: 1rem !important;
    font-weight: 4rem !important;
    margin-left: 0rem !important;
    margin-right: 2rem !important;
}

/* svg path {
    stroke: #03d5cc !important;
} */

/* second div end */
/* third div */
/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        height: 4rem;
        background-color: #f2f5f7;
        z-index: 5;
        overflow-y: auto;
    }

    .logo,
    .hamburger {
        z-index: 5;
    }

    .logo img {
        height: 35px;
        width: 120px;
        padding: 1rem 0 0 0;
        top: 50%;
    }

    .login-button {
        border: none;
    }

    .join-button,
    .nav-links,
    .login-button:focus {
        background: #03d5cc;
        border: none;
    }

    .line a,
    .login-button a {
        color: #fff !important;
    }

    .join-button,
    .nav-links,
    .login-button:hover {
        background: #03d5cc;
        border: none;
        color: #f8f8f8;
    }

    .join-button:focus {
        border: none;
        color: #253859;
    }

    .join-button:hover {
        color: #f8f8f8;
        border: none;
    }

    .nav-links li {
        /* top: 10em; */
        color: #fff;
        z-index: 5;
    }

    .nav-links li :focus::before,
    .nav-links li :hover::before {
        display: none;
    }

    .nav-links {
        top: 3.5rem;
        position: fixed;
        justify-content: space-evenly;
        list-style: none;
        width: 88vw;
        align-items: center;
        /* background: #03d5cc; */
        color: #fff !important;
        height: 90vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .join-button,
    .login-button,
    .nav-links li {
        color: #f8f8f8 !important;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    #submenu {
        display: none !important;
    }

    .show {
        display: block !important;
        color: #fff;
        position: fixed;
        margin-top: -1rem;
        bottom: 0;
    }

    .row1 {
        background-color: #eff4f9;
        height: 55rem !important;
    }

    .line {
        color: #fff;
        cursor: pointer;
    }

    .line:hover {
        border-bottom: none;
    }

    /* first div */
    .index-head {
        text-align: start !important;
        font-size: 2rem !important;
        margin-left: -0.2rem !important;
        margin-top: 5rem !important;
    }

    .index-heads {
        margin-left: -0.2rem !important;
    }

    .button3 {
        margin-left: -0.2rem !important;
    }

    .vedio,
    .nectar-video-self-hosted {
        background-color: #eff4f9 !important;
        width: 100% !important;
        margin-top: 0.5rem !important;
        margin-left: -0.2rem !important;
        border-radius: 10px !important;
        box-shadow: 15px 15px 15px 5px #e7e4e4;
    }

    /*first div end */
    /* second div start */

    .center {
        text-align: justify !important;
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
        font-weight: 4rem !important;
        margin-left: 1rem !important;
    }


    .centers {
        text-align: center;
        font-size: 1rem;
        font-weight: 4rem;
        margin-left: 0rem;
    }
}

/* tablet view */

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}