.initial{
    background-image: url("our-approach-img-1.jpg");
    height: 520px;
}

.para {
    color: #253859;
}

.responsive {
    width: 100%;
    height: auto;
}
body{
    letter-spacing: 0.02em;
  font-family: Mulish;
}