.para {
  color: #253859;
}

.responsive {
  width: 100%;
  height: auto;
}

.nectar-highlighted-text em {
  position: relative;
  display: inline-block;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  line-height: 1em;
  padding: 0 3px;
}


body {
  letter-spacing: 0.02em;
  font-family: "Mulish";
}

#footer-hover:hover {
  color: #28BEBB;
}

#footer-hover {
  text-decoration: none;
  color: white;
}

@media screen and (max-width:600px) {
  .header-size {
    font-size: 35px !important;
  }
}