/* .initial{
    background-image: url("our-approach-img-1.jpg");
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.para {
    color: #253859;
}

.responsive {
    width: 100%;
    height: auto;
}
body{
    letter-spacing: 0.02em;
  font-family: "Mulish";
}

#footer-hover:hover{
    color: #28BEBB;
    }
  #footer-hover{
    text-decoration: none;
    color: white;
  }
  