/***************Resources**************************/

* {
    font-family: "Mulish";
}

.full-width-content .col.padding-6-percent>.vc_column-inner {
    padding: calc(100vw * 0.08);
}

.col.centered-text,
.wpb_column.centered-text {
    text-align: center;
}

.wpb_wrapper>div {
    margin-bottom: 24px;
}

.full-width-content h1 {
    font-weight: 100;
    -webkit-text-stroke: medium;
    color: #253859;
    font-size: 43px;
}

.nectar-highlighted-text em {
    position: relative;
    display: inline-block;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    padding: 0 3px;
}


.nectar-highlighted-text .nectar-scribble {
    position: absolute;
    left: 0;
    z-index: -1;
    font-weight: 600;
}

.wpb_row .nectar-post-grid-filters[data-active-color="accent-color"] a:after {
    background-color: #03D5CC;
}

.nav {
    display: flex;
}

.nav li {
    padding: 20px;
    font-size: 17px;
}

.nav li:hover {
    cursor: pointer;
}


.hover-underline-text:hover {
    text-decoration: underline;
    cursor: pointer;
}


.carded {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

h4,
span.double {
    text-align: center;
    font-weight: 500px;
    font-size: 27px;
    text-align: center;
    /* line-height: 1.6 !important; */
}

#doubles {
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
    line-height: -10;
}

.double-check {
    margin-top: 30px;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    line-height: 4.6ch;
}

.check {
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    line-height: 2.6ch;
    letter-spacing: -1px;
}

.carded:hover {
    background-color: #03D5CC !important;
    transform: translateY(-4px);
    transition: transform .32s ease, background-color .32s ease;
    cursor: pointer;
}

.cards {
    transition: box-shadow 1s ease-in-out;
    cursor: pointer;
}

.cards:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

#white {
    margin-top: 15px !important;
}

#blog {
    margin-top: 150px;
    text-align: center;
    color: #03D5CC;
    font-weight: 500 !important;
}

.pilot {
    margin-top: 20px;
    line-height: 1.4em;
    margin-left: 20px;
    font-weight: 600 !important;
    font-size: 19px;
}

.meta-excerpt {
    margin-top: 10px;
    display: block;
    line-height: 1.6;
    /* font-weight: 550; */
    font-size: 16px;
    color: #000;
}

.pilots {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500 !important;
}

.filter {
    display: none;
}

.wrapper {
    cursor: pointer;
    overflow: hidden;
}

.cards:hover .cardzoom {
    transition: 1s;
    transform: scale(1.05);
}

.explore {
    --scroll-bar-w: 13px;
}




@media (min-width: 300px) and (max-width: 768px) {
    .filter {
        font-size: 20px;
        color: #253859;
        padding: 16px 32px;
        display: block !important;
        text-align: center;
        margin-top: 20px !important;
    }

    #myDIV {
        margin-left: 30px;
    }

    .button1 {
        border: 1px solid lightgray;
        padding: 10px 40px;
        background-color: #fff;
    }
}

.nectar-highlighted-text .nectar-scribble {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.nectar-highlighted-text em.animated .nectar-scribble path {
    stroke-linecap: round;
    opacity: 1;
    animation: nectarStrokeAnimation 1.3s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.nectar-highlighted-text .nectar-scribble path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    opacity: 0;
}

.nectar-highlighted-text em.animated .nectar-scribble path {
    stroke-linecap: round;
    opacity: 1;
    animation: nectarStrokeAnimation 1.3s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.nectar-highlighted-text[data-style="scribble"] em {
    background-image: none !important;
}

body .nectar-scribble.squiggle-underline {
    width: 500px;
    height: 28px;
}

.nectar-highlighted-text .nectar-scribble {
    position: absolute;
    top: 33px;
    z-index: 4;
}

@media screen and (max-width:500px) {
    .nectar-highlighted-text .nectar-scribble {
        /* left: 400px; */
        top: 80px;
    }

    .nectar-highlighted-text {
        margin-top: 100px;
    }

    body .nectar-scribble.squiggle-underline {
        width: 280px;
        height: 28px;
    }

    .cards {
        height: 380px !important;
    }

    .carded {
        height: 515px !important;
    }
}

@media screen and (min-width:1000px) {
    .nectar-highlighted-text .nectar-scribble {
        /* left: 400px; */
        top: 40px;
    }

    .nectar-highlighted-text {
        margin-top: 50px;
    }
}

@media screen and (max-width:1050px) and (min-width:780px) {
    .nectar-highlighted-text .nectar-scribble {
        /* left: 20px; */
        top: 50px;
    }

    .nectar-highlighted-text {
        margin-top: 100px;
    }

    .cards {
        height: 620px !important;
    }
}

@media screen and (max-width:780px) and (min-width:600px) {
    .nectar-highlighted-text .nectar-scribble {
        /* left: 40px; */
        top: 50px;
    }

    .nectar-highlighted-text {
        margin-top: 100px;
    }

    .cards {
        height: 460px !important;
    }

    .carded {
        height: 515px !important;
    }

    #myDIV {
        margin-left: 170px !important;
    }
}

@media screen and (max-width:600px) and (min-width:500) {
    .nectar-highlighted-text .nectar-scribble {
        top: 50px;
        /* left: 250px; */
    }

    .nectar-highlighted-text {
        margin-top: 100px;
    }

}

@media screen and (max-width:450px) and (min-width:376px) {
    .nectar-highlighted-text .nectar-scribble {
        top: 80px;
        width: 320px !important;
    }
}

@media screen and (max-width:480px) {
    .compilance {
        padding: 0px 0px 0px 0px;
    }
}

#footer-hover:hover {
    color: #28BEBB;
}

#footer-hover {
    text-decoration: none;
    color: white;
}

#active_page {
    border-bottom: 1px solid #03D5CC;
}