* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline-style: none !important;
    font-family: Mulish;
}

.banner-paragraph {
    font-size: 150%;
    color: #ffffff;
}

/* .responsive {
    width: 100%;
    height: auto;
} */

.mapping-para {
    font-size: 25.5px;
    font-weight: bold;
}

.mapping-para:hover {
    cursor: pointer;
    color: #253859;
}

.regulatory {
    color: #253859;
    margin-top: 300px;
    font-size: 38px;
    /* font-size: 44px; */
    font-weight: bold;
}

.regulatory-unique {
    color: #253859;
    margin-top: 100px;
    font-size: 38px;
    font-weight: 900;
}

#buttonlearn-work {
    background-color: #03d5cc;
    ;
    color: #fff;
    position: relative;
}

#buttonlearn-work:hover {
    bottom: .5rem;
    background-color: #28bebb;
    animation-name: btn;
    animation-duration: 1s;
    box-shadow: 0px 1px 4px 4px lightblue;
}

.iwt-icon {
    color: #03d5cc;
    font-size: 34px;
    display: flex;
    margin-top: 10px;
}

.heading-explore {
    margin-top: 100px;
    font-weight: 800;
    color: #253859;
}

.paragraph-explore {
    font-size: 1.3em;
    color: #253859;
    font-weight: 400;
}

.mapping-paragraph {
    font-size: 25.5px;
    color: #253859;
    -webkit-text-stroke: medium;
    /* font-weight: bold; */
}

.mapping-paragraph-icon {
    color: #253859;
    font-size: 15px;
    font-weight: bold;
}

#animation-image {
    margin-top: 50px
}

.header {
    font-size: 50px;
    /* padding-top: 7px; */
    -webkit-text-stroke: 1.5px;
}

@media screen and (max-width:500px) {
    .header {
        font-size: 30px;
    }


}

em{
    position: relative;
    display: inline-block;
}