* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline-style: none !important;
    font-family: Mulish;
}

.initial {
    background-image: url("images/Audit_banner.png");
    height: 450px;
}

.banner-paragraph {
    font-size: 150%;
    color: #ffffff;
}

/* .responsive {
    width: 100%;
    height: auto;
} */

.mapping-para {
    font-size: 25.5px;
    font-weight: bold;
}

.mapping-para:hover {
    cursor: pointer;
    color: #253859;
}

.regulatory {
    color: #253859;
    margin-top: 300px;
    font-size: 38px;
    /* font-size: 44px; */
    font-weight: bold;
}

.regulatory-unique {
    color: #253859;
    margin-top: 100px;
    -webkit-text-stroke: thick;
    /* font-size: 38px; */
    /* font-weight: 900; */
}

#buttonlearn-work {
    background-color: #03d5cc;
    ;
    color: #fff;
    position: relative;
}

#buttonlearn-work:hover {
    bottom: .5rem;
    background-color: #28bebb;
    animation-name: btn;
    animation-duration: 1s;
    box-shadow: 0px 1px 4px 4px lightblue;
}

.iwt-icon {
    color: #03d5cc;
    font-size: 34px;
    display: flex;
    margin-top: 10px;
}

.heading-explore {
    margin-top: 100px;
    font-weight: 800;
    color: #253859;
    font-size: 42.5px;
    letter-spacing: -0.05em;
    font-weight: bold;
}

span.regulatory-unique {
    -webkit-text-stroke: thin;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Mulish';
    text-shadow: 1px 1px;
    letter-spacing: -1.1px;
}

.paragraph-explore {
    font-size: 1.4em;
    color: #253859;
    font-weight: 400;
}

.mapping-paragraph {
    font-size: 25.5px;
    color: #253859;
    -webkit-text-stroke: thin;
    font-weight: bold;
}

.mapping-paragraph-icon {
    color: #253859;
    font-size: 15px;
    font-weight: bold;
}

#animation-image {
    margin-top: 50px
}

.header {
    font-size: 40px;
    font-weight: bold;
    /* padding-top: 7px; */
    -webkit-text-stroke: 1.5px;
}

@media screen and (max-width:500px) {
    .header {
        font-size: 30px;
    }

    .heading-explore {
        /* display: none; */
        font-size: 30px;
    }
}

#footer-hover:hover {
    color: #28BEBB;
}

#footer-hover {
    text-decoration: none;
    color: white;
}

em {
    position: relative;
    display: inline-block;
}