#financialbtn{
    background-color: #28bebb;
    position: relative;
}
@keyframes btn {
    0%   {bottom : 0rem;}
    50%  {bottom: .025  rem;}
    100% {bottom : .50rem;}
}
#financialbtn:hover{
    bottom: .5rem;
    background-color: #28BEBB;
    animation-name: btn;
    animation-duration: 1s;
}
#finanletter{
    /* margin-top: 20px; */
    letter-spacing: -0.01em;
    font: inherit;
    vertical-align: baseline;
}
#spacestyle{
    font-size: 20px;
    padding: 0px 0px 27px;
}
@media screen  and (min-width: 480px){
    #formPad{
        height: 16rem;
    }
}
#underline{
    text-decoration: none;
}
#underline:hover{
    text-decoration: underline;
}
#footer-hover:hover{
    color: #28BEBB;
    }
    #footer-hover{
        text-decoration: none;
        color: white;
        
    }

    .whowe{
        display: none;
    }
    @media screen and (max-width: 764px) {
        .whowe{
            display: block;
        }
        .serve{
            display: none;
        }
    
    }

    #active_page{
        border-bottom: 1px solid #28BEBB;
    }