@media only screen and (min-width:375px) and (max-width:667px) {
    .top-content {
        height: 3% !important;
    }

    .captcha1 {
        margin-left: -18px;
    }

    .wpb_wrapper h3 {
        font-size: 25.45px !important;
        line-height: 25.5px;
        font-family: "Mulish";
        text-transform: none;
        letter-spacing: -0.02em;
        font-weight: 900;
        color: #253859;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .top-content {
        height: 25% !important;
    }

    .wpb_wrapper h3 {
        font-size: 25.45px !important;
        line-height: 25.5px;
        font-family: "Mulish";
        text-transform: none;
        letter-spacing: -0.02em;
        font-weight: 900;
        color: #253859;
    }

}

@media screen and (min-width:300px) and (max-width:350px) {
    .top-content {
        height: 3% !important;
    }

    .captcha1 {
        margin-left: -6px;
    }

    .wpb_wrapper h3 {
        font-size: 25.45px !important;
        line-height: 25.5px;
        font-family: "Mulish";
        text-transform: none;
        letter-spacing: -0.02em;
        font-weight: 900;
        color: #253859;
    }

    .viewBox-test {
        width: 128%;
        margin-left: -31px;
    }
}

#forms {
    border-radius: 3%;
    height: auto;
    opacity: 1;
    background-color: #eff4f9;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .15);
}

.Clutter h5 {
    color: #03d5cc;
    font-weight: 900;
    font-size: 22.5px;
    line-height: 27px;
    font-family: "Mulish";
    text-transform: capitalize;
    letter-spacing: -0.04em;
}

.Clutter1 h5 {
    color: #03d5cc;
    margin-top: 12px;
    font-weight: 900;
    font-size: 22.5px;
    line-height: 27px;
    font-family: "Mulish";
    text-transform: capitalize;
    letter-spacing: -0.04em;
}

.Clutter2 h5 {
    color: #03d5cc;
    font-family: "Mulish";
    margin-top: 12px;
    font-weight: 900;
    font-size: 22.5px;
    line-height: 27px;
    text-transform: capitalize;
    letter-spacing: -0.04em;
}

.Clutter3 h5 {
    color: #03d5cc;
    font-weight: 900;
    font-size: 22.5px;
    line-height: 27px;
    font-family: "Mulish";
    text-transform: capitalize;
    letter-spacing: -0.04em;
}

.Clutter4 h5 {
    color: #03d5cc;
    font-weight: 900;
    font-size: 22.5px;
    line-height: 27px;
    font-family: "Mulish";
    text-transform: capitalize;
    letter-spacing: -0.04em;
}

.form-group {
    font-family: "Mulish";
    font-size: 14px;
    color: #33475b;
    font-weight: 500;
    line-height: 20px;
}

.captcha {
    background-color: #f9f9f9;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    color: #4c4a4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bottomslide {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes rightslide {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


@keyframes spin {
    10% {
        width: 0;
        height: 0;
        border-width: 6px;
    }

    30% {
        width: 0;
        height: 0;
        border-radius: 50%;
        border-width: 1em;
        transform: rotate(0deg);
        border-color: rgb(199, 218, 245);
    }

    50% {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border-width: 4px;
        border-color: rgb(199, 218, 245);
        border-right-color: rgb(89, 152, 239);
    }

    70% {
        border-width: 4px;
        border-color: rgb(199, 218, 245);
        border-right-color: rgb(89, 152, 239);
    }

    90% {
        border-width: 4px;
    }

    100% {
        width: 6em;
        height: 2em;
        border-radius: 50%;
        transform: rotate(720deg);
        border-color: transparent;
    }
}

body {
    font-family: "Mulish";
}

body b,
body strong,
body .bold {
    font-family: "Mulish";
    font-weight: 900;
}

.nectar_icon_wrap {
    display: inline-block;
    position: relative;
}

.nectar_icon_wrap .nectar_icon .svg-icon-holder {
    margin-bottom: 0;
}

.svg-icon-holder {
    overflow: hidden;
    min-width: 1px;
    display: inline-block;
}

.nectar_icon_wrap .svg-icon-holder[data-color="accent-color"] svg path {
    stroke: #03d5cc !important;
}

.svg-icon-holder[data-color="accent-color"] {
    color: #03d5cc !important;
}

.gray-cards {
    border-radius: 10px !important;
    background-color: #eff4f9;
    margin-top: -46px;
}

.cutters p {
    color: #253859;
    font-family: "Mulish";
    letter-spacing: -0.02em;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
}

.wpb_wrapper h3 {
    font-size: 31.45px;
    line-height: 25.5px;
    font-family: "Mulish";
    text-transform: none;
    letter-spacing: -0.02em;
    font-weight: 900;
    color: #253859;
}

.iwithtext {
    position: relative;
}

.iwithtext .iwt-icon {
    position: absolute;
    left: 0;
    top: 0;
}

.icon-default-style {
    color: #03d5cc;
    line-height: 34px;
    height: 34px;
    width: 34px;
    margin-right: 0;
    font-size: 34px !important;
    font-style: normal;
    background-color: transparent;
}

.iwithtext .iwt-text {
    padding-left: 55px;
}

.big span b {
    font-size: x-large;
    letter-spacing: -0.02em;
    color: #253859;
    font-family: "Mulish";
    font-weight: 900;
}

.big span {
    font-weight: 400;
    color: #253859;
    letter-spacing: -0.02em;
    font-family: "Mulish";
    font-size: 17px;
    line-height: 30px;
}

.spacer {
    height: 10px;
    margin-bottom: 24px;
    clear: both;
    display: block;
}

.spacers {
    height: 10px;
    margin-bottom: 50px;
    clear: both;
    display: block;
}

.inner-wrap {
    background-position: center;
    background-size: cover;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    z-index: 1;
    top: 0;
    left: 0;
}

/* 
.platform-background {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  
} */



.wpb_wrappers .wpb {
    font-size: 300%;
    font-family: "Mulish";
    font-weight: 900;
    color: #253859;
    line-height: 45px;
}

.wpb_wrappers .wpb-p {
    color: #ffffff;
    font-size: 200%;
    line-height: 30px;
    /* letter-spacing: -0.02em; */
}

.read-text h4 {
    color: #183460;
    font-size: 30px;
    line-height: 40px;
    font-family: "Mulish";
    letter-spacing: -0.04em;
    font-weight: 700;
}

.wrapper h3 {
    font-size: 31.45px;
    line-height: 25.5px;
    font-family: "Mulish";
    text-transform: none;
    font-weight: 900;
    color: #253859;
}

.wpb_wrapper h2 {
    font-size: 42.5px;
    line-height: 38.25px;
    font-family: "Mulish";
    text-transform: none;
    letter-spacing: -0.05em;
    font-weight: 600;
    color: #253859;
}

.wpb_wrapper h4 {
    font-size: 30px;
    line-height: 40px;
    font-family: "Mulish";
    letter-spacing: -0.04em;
    font-weight: 700;
    color: #253859;
}

.nectar_icon_wrap {
    display: inline-block;
    position: relative;
}

.nectar_icon_wrap[data-padding="15px"] .nectar_icon {
    padding: 15px;
}

.nectar_icon_wrap[data-color="accent-color"] i {
    color: #03d5cc !important;
}

.regtech {
    background-image: url(360regtech_cta-bg-1.jpg);
    background-repeat: no-repeat !important;
    background-size: cover;
}

.Obligation-background {
    background-image: url(Overview-11.png);
    /* height: 100vh;
    width: 100vh; */
    background-repeat: no-repeat !important;
    /* margin-left: -78px; */
}

.img3 {
    background-image: url(img-3.png);
    background-repeat: no-repeat !important;
    height: 100vh;
    width: 100vh;
    /* margin-left: -78px; */
}

.Overview-3-edit {
    background-image: url(Overview-3-edit.png);
    background-repeat: no-repeat !important;
    height: 100vh;
    width: 100vh;
    margin-left: -78px;
}

.wrap h6 {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}

.wrap h2 {
    text-align: center;
    font-size: 42.5px;
    line-height: 38.25px;
    font-family: "Mulish";
    font-weight: 600;
    letter-spacing: -0.05em;
}

.hover-sm {
    background: #03d5cc;
    border-color: #03d5cc;
    color: #ffffff;
    line-height: 15px;
    font-family: "Mulish";
    padding: 12px 24px;
    text-align: center;
    font-size: 14px;
    padding: 15px 22px;
}

.wpb_wrapper .para span {
    font-weight: 400;
    color: #253859;
    letter-spacing: -0.02em;
    font-family: "Mulish";
    font-size: 17px;
    line-height: 30px;
}

.top-content {
    height: 45%;
}