.initial-img {
    background-image: url("img-1.jpg");
    height: 480px !important;
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 110%; */
  
}
@media screen and (max-width:650px) {
    #reg-head{
        margin-top: -120px !important;
    }
}


@media screen and (max-width: 820px) {
    #img-res {
        width: 300px !important;
        /* margin-left: 50px; */
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    #img-res {
        width: 300px !important;
        /* margin-left: 50px; */
        display: flex;

    }
}

@media screen and (max-width: 600px) {
    #img-res1 {
        width: 150px !important;
        margin-left: 80px;
        display: flex;

    }
}
body{
    /* letter-spacing: 0.02em; */
  font-family: Mulish;
}

#footer-hover:hover{
    color: #28BEBB;
    }
  #footer-hover{
    text-decoration: none;
    color: white;
  }