body {
    font-family: "Mulish";
}

body div {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}

body h1 {
    font-family: "Mulish";
    text-transform: initial;
    letter-spacing: -0.05em;
}

p {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline; 
}

h1 {
    display: block;
    /* font-size: 2em; */
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    body h1 {
        font-size: 37.7px;
    }

    body h3 {
        font-size: 24.05px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    body h1 {
        font-size: 43.5px;
    }

    body h3 {
        font-size: 31.45px;
    }
}