* {
  font-family: "Mulish";
}

td {
  border-bottom: #28bebb 1px solid;
}
#learnMoreBtn {
  background-color: #03d5cc;
  color: #fff;
  position: relative;
}
@keyframes btn {
  0% {
    bottom: 0rem;
  }
  50% {
    bottom: 0.025 rem;
  }
  100% {
    bottom: 0.5rem;
  }
}
#learnMoreBtn:hover {
  bottom: 0.5rem;
  background-color: #28bebb;
  animation-name: btn;
  animation-duration: 1s;
}

#group_img{
  animation-name: slide-in-right1;
  animation-duration: 1s;
}
@keyframes slide-in-right1{
  from {
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0);
  }
}


#top-content{
  animation-duration: 0.5s;
  animation-name: slide-in-right2;
}
@keyframes slide-in-right2{
  from {
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0);
  }
}
#slider1{
  animation-duration: 0.5s;
  animation-name: slide-in-left1;
}
#slider2{
  animation-duration: 0.5s;
  animation-name: slide-in-left2;
}
@keyframes slide-in-left2{
  from {
    transform: translateX(50%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slide-in-left1{
  from {
    transform: translateX(50%);
  }
  to{
    transform: translateX(0);
  }
}
#hoveran{
  color: #03d5cc;
  text-align: center;
  }
#hoveran:hover{
color: #253859;
}

#active_page{
  border-bottom: 1px solid #03d5cc;
}
.events{
  color: #28bebb; 
  font-size: 25.9px; 
  -webkit-text-stroke: thin;
}


.link {
  color: #2175FF;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}
.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
.link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  transition: transform 0.3s ease;
  vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
  stroke-dashoffset: 0;
}
.link--arrowed:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}
.link--arrowed:hover .arrow-icon--circle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.checkout {
  text-align: left;
  font-size: 18px;
}
@media screen and (max-width:500px) {
  #header{
    position: relative;
    display: inline-block;
   
  }
  #fname{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: -0.01em;
    line-height: 15px ;
    
  }
  #sname{
    font-size: 30px;

  }
 .events{
  font-size: 22px  ;
 }

}


@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
  }	100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
  }
  
  @-moz-keyframes fadeInUp {
  0% {
      opacity: 0;
      -moz-transform: translateY(20px);
  }
  
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
  }
  }
  
  @-o-keyframes fadeInUp {
  0% {
      opacity: 0;
      -o-transform: translateY(20px);
  }
  
  100% {
      opacity: 1;
      -o-transform: translateY(0);
  }
  }
  
  @keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  
  100% {
      opacity: 1;
      transform: translateY(0);
  }
  }
  .animated.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    } 