body {
  font-family: Mulish;
}

td {
  border-bottom: #28bebb 1px solid;
}
#learnMoreBtn {
  background-color: #03d5cc;
  color: #fff;
  position: relative;
}
@keyframes btn {
  0% {
    bottom: 0rem;
  }
  50% {
    bottom: 0.025 rem;
  }
  100% {
    bottom: 0.5rem;
  }
}
#learnMoreBtn:hover {
  bottom: 0.5rem;
  background-color: #28bebb;
  animation-name: btn;
  animation-duration: 1s;
}

/* .box-container {
  box-sizing: border-box;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
} */
 